<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="Favicon.ico">

  <title>Derik Strattan</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="assets/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/smoothscroll.js"></script>
  <script src="assets/javascripts/Chart.js"></script>
</head>

<body data-spy="scroll" data-offset="0" data-target="#nav">
  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="dropdown">
            <ul id="nav" class="nav">
              <li class="menu-item"><a class="smoothScroll" href="#home" title="Home"><i class="fa fa-home"></i>   HOME</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="fa fa-comment"></i>   ABOUT</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#portfolio" title="Portfolio"><i class="fa fa-briefcase"></i>   PORTFOLIO</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="fa fa-envelope"></i>   RESUME</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#blog" title="Blog"><i class="fa fa-pencil"></i>    BLOG</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="fa fa-phone"></i>   CONTACT</a></li>
            </div><!-- /.dropdown -->
          <div class="clear"></div>
        </div><!--/.row -->
      </div><!--/.container -->
      <div class="clear"></div>
    </div><!--/ #topbar-inner -->
  </div><!--/ #section-topbar -->

  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Derik Strattan</h1>
          <h3>Ruby on Rails Developer</h3>
          <div class= "row centered">
            <a href="https://github.com/Derikulous" title="GitHub"><i class="fa fa-github-square fa-3x"></i></a>
            <a href="https://linkedin.com/in/derikstrattan/" title="LinkedIn"><i class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="https://twitter.com/Derikulous" title="Twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
          </div> <!--/row centered -->
        </div><!--/.col-lg-12 -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.#headerwrap -->

  <!-----------ABOUT SECTION -------------->
  <section id="about" name="about"></section>
  <div id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h2>ABOUT</h2>
        </div>
        <div class="col-lg-6">
          <p>Thanks for visiting this website. I am a passionate web developer, focusing on delivering high quality code with a smile, in large part thanks to <a href="https://www.codefellows.org/‎" title="CodeFellows">CodeFellows</a>. I am an outgoing individual, always seeking to learn and push myself in new directions. When I am not writing code or on my blog, I spend my time reading about: <a href="https://news.ycombinator.com/" title="Hacker News"> emerging technology and entrepreneurship</a>, <a href="https://news.layervault.com/stories" title="Designer News"> design</a>, <a href="http://www.stopitrightnow.com/" title="Stop It Right Now">fashion</a>, and <a href="http://blog.zhangjingna.com/" title="Zhang Jingna">photography</a>.
          </p>
        </div>

        <div class="col-lg-3 col-lg-offset-3">
          <h4>LANGUAGES</h4>
          <i class="fa fa-thumbs-o-up"></i> Ruby on Rails<br/>
          <i class="fa fa-thumbs-o-up"></i> CSS3<br/>
          <i class="fa fa-thumbs-o-up"></i> HTML5<br/>
          <i class="fa fa-thumbs-o-up"></i> Javascript and Parallax<br/>
          <i class="fa fa-thumbs-o-up"></i> JQuery<br/>
        </div>
        <div class="col-lg-3">
          <h4>PLATFORMS</h4>
          <i class="fa fa-thumbs-o-up"></i> Twitter Bootstrap 2.3 & 3<br/>
          <i class="fa fa-thumbs-o-up"></i> Heroku<br/>
          <i class="fa fa-thumbs-o-up"></i> AWS S3<br/>
          <i class="fa fa-thumbs-o-up"></i> API Integration: <i class="fa fa-google-plus-square"></i> <i class="fa fa-facebook-square"></i><i class="fa fa-twitter-square"></i><br/>
          <i class="fa fa-thumbs-o-up"></i> Octopress<br/>
        </div>
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->

  <!-----------PORTFOLIO DESCRIPTION -------------->
  <section id="portfolio" name="portfolio"></section>
  <!--PORTFOLIO DESCRIPTION -->
  <div class="container desc">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h2>PORTFOLIO</h2>
      </div>
      <div class="col-lg-6">
        <a href="http://offerletter.herokuapp.com/">
          <p><img class="img-responsive" src="assets/Offerletter.png" alt="Offer Letter"></p></a>
      </div>
      <div class="col-lg-3">
        <p>OFFER LETTER</p>
        <p><more>An application created to help users prepare for the technical interview process. My final project in Code Fellows, a 2 month Ruby on Rails bootcamp. <br/>
          BUILT WITH: <br/>
          <i class="fa fa-tags"></i> Ruby on Rails<br/>
          <i class="fa fa-tags"></i> Twitter Bootstrap 3<br/>
          <i class="fa fa-tags"></i> Twitter and GitHub login<br/><br/>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p><img class="img-responsive" src="assets/Yolo.png" alt="Yolo"></p>
      </div>
      <div class="col-lg-3">
        <p>YOLO</p>
        <p><more>An application designed to provide users a set of unique events happening in their region. This app was created during Seattle Startup Weekend.<br/>
          BUILT WITH: <br/>
          <i class="fa fa-tags"></i> Twitter Bootstrap 2.3<br/>
          <i class="fa fa-tags"></i> Facebook API<br/>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <a href="http://derikstrattan.com/">
          <p><img class="img-responsive" src="assets/Derik_portfolio.png" alt="My portfolio"></p></a>
      </div>
      <div class="col-lg-3">
      <p>THIS WEBSITE</p>
      <p><more>I created this website to showcase my creative projects, while showing potential employers more of who I am that cannot be gleaned from a traditional resume. <br/>
        BUILT WITH: <br/>
        <i class="fa fa-tags"></i> Ruby on Rails<br/>
        <i class="fa fa-tags"></i> Twitter Bootstrap 3<br/>
        <i class="fa fa-tags"></i> Octopress (blog)<br/>
      </p>
      </div>
    </div><!--/.row -->
    <br>
    <br>
  </div><!--/.container -->


  <!--------------- RESUME SECTION ---------------->
  <section id="resume" name="resume"></section>
  <!--EDUCATION DESCRIPTION -->
    <div id="intro">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <h2>RESUME</h2>
        </div>
        <div class="col-lg-6">
          <h3><a href="https://www.codefellows.org/‎" title="CodeFellows">Code Fellows</a><br/></h3>
          <p><h4>Ruby on Rails</h4>
            <i>2 month bootcamp</i>
          </p>
        </div>
        <div class="col-lg-3">
          <p>GRADUATING IN DECEMBER 2013<br/>
            <span class="label label-primary">IN PROGRESS</span>
          </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
          <p><t></t><br/>
            <br/>
            <i></i>
          </p>
        </div>
        <div class="col-lg-3">
          <p><sm></sm></p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
          <p><t></t><br/>
            <br/>
            <i></i>
          </p>
        </div>
        <div class="col-lg-3">
          <p><sm></sm></p>
        </div>
      </div><!--/.row -->
      <br>
  </div><!--/.intro -->

  <section id="contact" name="contact"></section>
  <!--FOOTER DESCRIPTION -->
  <div id="footwrap">
    <hr>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
          <h2>CONTACT</h2>
        </div><br>
        <div class="col-lg-4">
            <a href="https://github.com/Derikulous"><i class="fa fa-github fa-3x"></i></a>
            <a href="https://twitter.com/Derikulous"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="www.linkedin.com/in/derikstrattan/"><i class="fa fa-linkedin fa-3x"></i></a>
            <a href="http://derikulous.tumblr.com/"><i class="fa fa-tumblr fa-3x"></i></a>
          </p>
        </div>
      </div><!--/.row -->
      <hr>
    </div><!--/.container -->
  </div><!--/ #footer -->
</body>
</html>
