<div id="home" class="container aria-hidden=false">
  <div class="row">
    <div class="col-lg-12 col-xs-12 page-header aria-hidden=true">
      <h1 class="text-center animate aria-hidden=true aria-label=page_title" id="name">Derik Strattan</h1>
    </div>
  </div>
</div>
<div class="container navbar aria-hidden=true">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1 aria-hidden=true">
      <a href=<%= about_path %> >
        <div class="about-section aria-hidden=false aria-label=about-header">About</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 photo-header aria-hidden=true">
      <a href="/photos/">
        <div class="photo-section aria-hidden=false aria-label=photo-header">Photos</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 blog-header aria-hidden=true">
      <a href=<%= posts_path %> >
        <div class="blog-section aria-hidden=false aria-label=blog-header">Blog</div>
      </a>
    </div>
  </div>
</div>
