<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="Favicon.ico">

  <title>Derik Strattan</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/stylesheets/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="assets/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/smoothscroll.js"></script>
  <script src="assets/javascripts/Chart.js"></script>
</head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

  <div id="section-topbar">
    <div id="topbar-inner">
      <div class="container">
        <div class="row">
          <div class="dropdown">
            <ul id="nav" class="nav">
              <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="fa fa-home"></i>   ABOUT</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#portfolio" title="Portfolio"><i class="fa fa-briefcase"></i>   PORTFOLIO</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="fa fa-envelope"></i>   RESUME</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#blog" title="Blog"><i class="fa fa-pencil"></i>    BLOG</a></li>
              <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="fa fa-phone"></i>   CONTACT</a></li>
            </ul><!--/ uL#nav -->
          </div><!-- /.dropdown -->

          <div class="clear"></div>
        </div><!--/.row -->
      </div><!--/.container -->

      <div class="clear"></div>
    </div><!--/ #topbar-inner -->
  </div><!--/ #section-topbar -->

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12">
          <h1>Derik Strattan</h1>
          <h3>Ruby on Rails Developer</h3>
          <div class= "row centered">
            <ul>
              <li class="menu-item"><a href="https://github.com/Derikulous" title="GitHub"><i class="fa fa-github-square fa-5x"></i></a></li>
            </ul>
          </div>
        </div><!--/.col-lg-12 -->
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/.#headerwrap -->

    <section id="about" name="about"></section>
  <div id="intro">
    <div class="container">
      <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
          <h5>ABOUT</h5>
        </div>
        <div class="col-lg-6">
          <p>I'm web designer & front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development.</p>
        </div>
        <div class="col-lg-3">
          <p><a href="#"><i class="icon-file"></i></a> <sm>DOWNLOAD PDF</sm></p>
        </div>

      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->

</body>

</html>
