<div id="sidebar-container-main">
  <div class="menuHead">
    <div class="sidebarMain" id="s-developer">Ruby on Rails
    </div>
  </div>
  <div class="menuHeadPhoto">
  </div>
</div>
<div id="blogContent">
  <div id="blogContentInner">
    <div class="inner">
      <div class="galleryContainer">
        <a href="/about">
          <%= image_tag "main_quote.png" %>
        </a>
      </div>
    </div>
  </div>
</div>

