<div class="container about-header" aria-hidden=true>
  <div class="home-link">
    <%= link_to "Go Back", root_path %>
  </div><br />
  <img src="https://s3-us-west-2.amazonaws.com/portfolioimage/many_me.jpg" class="img-responsive" alt="Responsive About Image">

  <div class="row links aria-hidden=false">
    <div class="link-header">Links</div>

    <a href="https://github.com/Derikulous" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="https://linkedin.com/in/derikstrattan/" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a href="https://twitter.com/Derikulous" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="http://derikulous.tumblr.com/" title="Tumblr"><i class="fa fa-tumblr-square fa-2x"></i></a>
    <a href="http://www.derikstrattanfoto.com/" title="Photography website"><i class="fa fa-camera-retro fa-2x"></i></a>
  </div>
  <div class="row resume aria-hidden=false">
    <a href="https://s3-us-west-2.amazonaws.com/derikstrattan.com/Strattan_Resume.pdf" title="Resume" class="menu">Resume</a>
  </div>
</div>

<script>
snowStorm.stop()
</script>
