<div id="sidebar-container">
  <div class="menuHead">
    <div class="sidebarHead" id="s-about">ABOUT
    </div>
  </div>
  <div id="accordion">
    <well title="Links" class="links">Links<br /><br />
      <a href="https://s3-us-west-2.amazonaws.com/derikstrattan.com/Strattan_Resume.pdf" title="Resume" class="menu">Resume</a><br /><br />
      <a href="https://github.com/Derikulous" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a><br />
      <a href="https://linkedin.com/in/derikstrattan/" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a><br />
      <a href="https://twitter.com/Derikulous" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a><br />
      <a href="http://derikulous.tumblr.com/" title="Tumblr"><i class="fa fa-tumblr-square fa-2x"></i></a><br />
      <a href="http://www.derikstrattanfoto.com/" title="Photography website"><i class="fa fa-camera-retro fa-2x"></i></a>
  </div>
</div>
<div id="aboutContent">
  <div id="aboutContentInner">
    <div class="inner">
      <div class="galleryContainer">
        <a href="/about/2">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/portfolioimage/many_me.jpg" %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="clearer"></div>

<div id="foot" >
  <div class="portfolioFootNav">
    <div class="portfolioCounterContainer">
      <div id="portfolioBackDead">
      </div>
      <div id="portfolioNext">
        <a href="/about/2">
          NEXT »
        </a>
      </div>
      <div class="clearer">
      </div>
    </div>
    <div class="aboutCaption">
      Ruby on Rails Developer & Photographer
      <br></br>
    </div>
    <div class="portfolioIndexContainer">
      1
      <em>
        /
      </em>
      2
    </div>
    <div class="clearer"></div>
  </div>
</div>
