<div class="container about-header" aria-hidden=true>
  <div class="home-link">
    <%= link_to "<<", root_path %>
  </div><br />
  <h1 class="title-text text-center"> Web Developer</h1>
  <h3 class="blog-title text-center">
  <div class="row links aria-hidden=false">
  <a href="https://s3-us-west-2.amazonaws.com/derikstrattan.com/Strattan_Resume_WebDeveloper_Jan_2015.pdf" title="Resume" class="resume">Resume</a>
    <div class="link-header hidden">Links</div></br>
    <div class="row resumeMenu aria-hidden=false">

    </div>
    <br>
    <a href=<%= posts_path %> title="Blog"<i class="fa fa-pencil-square fa-1x fa-inverse"></a></i>
    <a href="https://github.com/Derikulous" title="GitHub"><i class="fa fa-github-square fa-1x fa-inverse"></i></a>
    <a href="https://linkedin.com/in/derikstrattan/" title="LinkedIn"><i class="fa fa-linkedin-square fa-1x fa-inverse"></i></a><br>
    <a href="http://www.derikstrattanfoto.com/" title="Photography website"><i class="fa fa-camera-retro fa-1x fa-inverse"></i></a>
    <a href="https://twitter.com/Derikulous" title="Twitter"><i class="fa fa-twitter-square fa-1x fa-inverse"></i></a>
    <a href="http://derikulous.tumblr.com/" title="Tumblr"><i class="fa fa-tumblr-square fa-1x fa-inverse"></i></a>
  </div>

  <br>

  <img src="https://s3-us-west-2.amazonaws.com/portfolioimage/many_me.jpg" class="img-responsive" alt="Responsive About Image">
</div>
