<div id="sidebar-container">
  <div class="menuHead">
    <div class="sidebarHead" id="s-about">ABOUT</div>
  </div>
  <div id="accordion">
    <a href="https://s3-us-west-2.amazonaws.com/derikstrattan.com/Strattan_Resume_RailsDeveloper.pdf" title="Resume" class="menu">Resume</a><br /><br />
    <well title="Links" class="links">Links<br /><br />

      <a href="https://github.com/Derikulous" title="GitHub"><i class="fa fa-github-square fa-2x"></i></a><br />
      <a href="https://linkedin.com/in/derikstrattan/" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a><br />
      <a href="https://twitter.com/Derikulous" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a><br />
      <a href="http://www.derikstrattanfoto.com/" title="Photography website"><i class="fa fa-camera-retro fa-2x"></i></a>
    </div>
  </div>
  <div id="portfolioContentContainer">
    <div id="blogContent">
      <div id="blogContentInner">
        <div class="inner">
          <div class="galleryContainer_2">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearer"></div>

  <div id="foot" >
    <div class="portfolioFootNav">
      <div class="portfolioCounterContainer">
        <div id="portfolioBack">
          <a href="/about">
            PREVIOUS
          </a>
        </div>
        <div id="portfolioNextDead">
        </div>
        <div class="clearer"></div>
      </div>
      <div class="portfolioCaption">
        Ruby on Rails Developer & Photographer
        <br></br>
      </div>
      <div class="portfolioIndexContainer">
        2
        <em>
          /
        </em>
        2
      </div>
      <div class="clearer"></div>
    </div>
  </div>
