<div id="sidebar-container-main">
  <div class="menuHead">
    <div class="sidebarMain" id="s-photo">Photos
    </div>
  </div>
</div>
<div id="blogContent">
  <div id="blogContentInner">
    <div class="inner">
      <div class="galleryContainer">
        <%= image_tag "singlelightsource.jpg" %>
      </div>
    </div>
  </div>
</div>
<div id="foot" >
  <div class="portfolioFootNav">
    <div class="portfolioCounterContainer">
      <div id="portfolioBack">
        <a href="/photos">
          BACK
        </a>
      </div>
      <div id="portfolioNextDead">
      </div>
      <div class="clearer">
      </div>
    </div>
    <div class="portfolioCaption">
      Lonely Night
      <br></br>
    </div>
    <div class="portfolioIndexContainer">
      2
      <em>
        /
      </em>
      2
    </div>
    <div class="clearer"></div>
  </div>
</div>
