<div id="sidebar-container-main">
  <div class="menuHead">
    <div class="sidebarMain" id="s-photo">Photos
    </div>
  </div>
</div>
<div id="blogContent">
  <div id="blogContentInner">
    <div class="inner">
      <div class="galleryContainer">
        <%= image_tag "yellowstone.jpg" %>
      </div>
    </div>
  </div>
</div>
<div id="foot" >
  <div class="portfolioFootNav">
    <div class="portfolioCounterContainer">
      <div id="portfolioBackDead">
      </div>
      <div id="portfolioNext">
        <a href="/photos/2">
          NEXT »
        </a>
      </div>
      <div class="clearer">
      </div>
    </div>
    <div class="portfolioCaption">
      Yellowstone National Park
      <br></br>
    </div>
    <div class="portfolioIndexContainer">
      1
      <em>
        /
      </em>
      2
    </div>
    <div class="clearer"></div>
  </div>
</div>
