<div id="sidebar-container">
  <div class="menuHead">
    <div class="sidebarHeadPortfolio" id="s-projects">PROJECTS
    </div>
  </div>
  <div id="accordionPortfolio">
    <well title="Links" class="links">Links<br /><br />
    <a href="/projects" title="Brook and Ivan's Adventure" class="menu">Brook and Ivan's<br> Adventure</a><br /><br />
    <a href="/projects/officehours" title="Office Hours" class="menu">Office Hours</a><br /><br />
    <a href="/projects/yolo" title="Yolo" class="menu">Yolo</a><br /><br />
    <a href="/projects/portfolio" title="This site" class="menu">Portfolio site</a><br /><br />
  </div>
</div>
<div id="portfolioContent">
  <div id="portfolioContentInner">
    <div class="inner">
      <div class="portfolioContainer">
        <a href="http://officehour.herokuapp.com/">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/portfolioimage/office_hours.png" %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="clearer"></div>

<div id="foot" >
  <div class="portfolioFootNav">
    <div class="portfolioCounterContainer">
      <div id="portfolioBack">
        <a href="/projects">
          BACK
        </a>
      </div>
      <div id="portfolioNext2">
        <a href="/projects/yolo">
          NEXT »
        </a>
      </div>
      <div class="clearer">
      </div>
    </div>
    <div class="portfolioCaption">
      Created during StartupWeekendEDU. Ruby on Rails, Responsive Design, Backbone.js
      <br></br>
    </div>
    <div class="portfolioIndexContainer">
      2
      <em>
        /
      </em>
      4
    </div>
    <div class="clearer"></div>
  </div>
</div>
