<% @projects.each do |project| %>
  <div class="project" id="<%= dom_id(project) %>">
    Project name: <h3><%= project.name %></h3>
    Technologies used: <p><%= project.technologies_used %></p>
  </div>
<% end %>

<br />

<% if current_user.try(:admin?) %>
  <%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>
<% end %>
