<div class="container">
  <div class="well-test col-md-6">
    <% if current_user.try(:admin?) %>

    <%= render 'form' %>
    <%= link_to 'Back', posts_path, class: "btn btn-default" %>

    <% end %>
  </div>
</div>
