<div id="sidebar-container-main">
  <div class="menuHead">
    <div class="sidebarMain" id="s-blog">BLOG
    </div>
  </div>
  <div class="menuHeadPhoto">
  </div>
</div>
<div id="portfolioContentContainer">
  <div id="portfolioContent">
    <div id="portfolioContentInner">
      <div class="inner">
        <div class="portfolioContainer">
          <h3><%= @post.title %></h3>
          <%= l @post.created_at, format: :short %>
          <p><%= markdown @post.content %></p><br />
          <%= link_to 'Back', posts_path, :class => 'btn btn-default'%>
        </div>
      </div>
    </div>
  </div>
</div>
