.about-section {
  margin-top: 5em;
  width: 50%;
}
.about-section a:hover, a:focus {
  color: rgb(191, 108, 55);
}
.link-header{
  font-family: 'Didot', serif;
  font-size: 2rem;
  margin-top: 3%;
}
.links {
  text-decoration: underline;
  text-align: center;
}
.resume {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  margin-top: 1.5%;
  text-align: center;
  text-decoration: underline;
}
.home-link {
  font-family: 'Lato', serif;
  font-size: 1rem;
  text-decoration: underline;
}
