#page {
   text-align: center;
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.classingcard {
  margin: 20px auto;
  display: block;
}

section {
    width: 200px;
}

#links {
  padding-top: 20px;
}
.inline {
    display: inline-block;
}

img {
  width: 150px;
}


