#sidebar-container {
  width: 133px;
  float: left;
  text-align: left;
}
.menuHead {
  border-bottom: 1px solid rgb(195, 195, 195);
  margin-bottom: 10px;
  margin-right: 4px;
}
#s-about {
  background-position: 0px -135px;
  background: url("images/about_dark.png") no-repeat scroll 0% 0% transparent;
}
.sidebarHead {
  width: 85px;
  height: 50px;
  text-indent: -9999px;
}
#accordion {
  font-size: 15px;
  letter-spacing: 0.6px;
  position: absolute;
  margin-left: 20px;
  margin-top: 3px;
}
.menu {
  line-height: 19px;
  color: rgb(195, 0, 0);
}
#aboutContent {
  width: 750px;
  float: left;
  margin: 0px 30px;
  width: 746px;
  height: 624px;
  overflow: hidden;
}
#aboutContent .inner {
  margin: 20px 22px 20px 17px;
}
.galleryContainer {
  height: 584px;
  width: 750px;
  overflow: hidden;
  margin: 0px auto;
  background-position: center center;
  text-align: center;
}
.galleryContainer_2 {
  height: 584px;
  width: 750px;
  overflow: hidden;
  margin: 0px auto;
  background-position: center center;
  background: url("images/about_2.png") no-repeat scroll 0% 0% transparent;
  text-align: center;
}
div.clearer {
  clear: both;
  height: 0px;
  font: 0px "Helvetica","Arial";
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}
.aboutCaption {
  float: left;
  width: 480px;
  text-align: center;
  font: 12px/16px "Georgia";
  letter-spacing: 0px;
}
.portfolioIndexContainer {
  float: right;
  width: 50px;
  text-align: right;
  font: 1em "Georgia";
}
