.about-header {
  margin-top: 5em;
  width: 50%;
}
.links {
  text-align: center;
  color: white;
  text-decoration: none;
}
.resume {
  font-family: 'Didot', serif;
  font-size: 2rem;
  margin-top: 1.5%;
  text-align: center;
  color: white;
}
a.resume:link {
  text-decoration: underline;
  outline: medium none;
  overflow: hidden;
  color: white;
}
.home-link {
  font-family: 'Lato', serif;
  font-size: 1rem;
}
.title-text {
  font-family: 'Didot', serif;
  font-size: 3rem;
  color: rgb(205,255,205);
}
