body {
  background-color: #dfdfdf;
}
#home {
  font-family: 'Lato', sans-serif;
  font-size: 15rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #dfdfdf;
}
.page-header {
  padding: 5% 0;
  border-color: white;
}
.navbar {
  color: #000;
  margin-top: 3%;
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}
.about-section {
  text-align: center;
}
.about-section a:hover, a:focus {
  color: rgb(191, 108, 55);
}
.photo-section {
  text-align: center;
}
.photo-section a:hover, a:focus {
  color: rgb(191, 108, 55);
}
.blog-section {
  text-align: center;
}
.blog-section a:hover, a:focus {
  color: rgb(191, 108, 55);
}
.navbar a:hover, a:focus {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
