@font-face {
  font-family: 'Didot';
  src: url('/assets/fonts/Didot-HTF-L96-Light.otf');
}

#photos {
  margin-top: 5em;
  width: 55%;
}
.bottom-navbar {
  text-align: center;
}
.photoCaption {

  font-family: 'Lato', sans-serif;
}
