#sidebar-container {
  width: 133px;
  float: left;
  text-align: left;
}
.menuHead {
  border-bottom: 1px solid rgb(195, 195, 195);
  margin-bottom: 10px;
  margin-right: 4px;
}
#s-projects {
  background-position: 0px -135px;
  background: url("images/projects_dark.png") no-repeat scroll 0% 0% transparent;
}
.sidebarHead {
  width: 100px;
  height: 50px;
  text-indent: -9999px;
}
#accordionPortfolio {
  font-size: 15px;
  letter-spacing: 0.6px;
  position: absolute;
  float: left;
  margin-top: 3px;
}
a.menu:link {
  text-decoration: none;
  outline: medium none;
  overflow: hidden;
}
.menu {
  line-height: 19px;
  color: rgb(0, 0, 0);
  border-bottom: none;
}

#portfolioContent {
  width: 750px;
  float: left;
  margin: 0px 30px;
  width: 746px;
  height: 624px;
  overflow: hidden;
}
#portfolioContent .inner {
  margin: 20px 22px 20px 17px;
}
.portfolioContainer {
  height: 584px;
  width: 750px;
  overflow: hidden;
  margin: 0px auto;
  background-position: center center;
  text-align: center;
}
.portfolioContainer_1 {
  height: 584px;
  width: 750px;
  overflow: hidden;
  margin: 0px auto;
  background-position: center center;
  background: url("images/about_2.png") no-repeat scroll 0% 0% transparent;
  text-align: center;
}
#portfolioContent .inner a img {
  border: 1px solid rgb(255, 198, 198);
  margin-top: 0px;
  border: medium none;
}
a, img, input {
  outline: medium none;
}
.links {
  border-bottom: 1px solid rgb(175, 175, 175);
}
i {
  color: rgb(100, 100, 100);
}
#foot {
  margin: 0px;
  border: 0px solid red;
  height: 54px;
  background-position: 5px 0px;
}
.portfolioFootNav {
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-top: 10px;
  padding-bottom: 9px;
  margin-left: 161px;
  margin-right: 55px;
}
.portfolioCounterContainer {
  float: left;
}
#portfolioBackDead {
  width: 72px;
  height: 16px;
  background: url("images/previous_light.png") no-repeat scroll -6px -15px transparent;
  text-indent: -99999px;
  float: left;
}
#portfolioBack {
  width: 72px;
  height: 16px;
  background: url("images/previous.png") no-repeat scroll -6px -15px transparent;
  text-indent: -99999px;
  float: left;
}
#portfolioNext {
  width: 50px;
  height: 16px;
  background: url("images/next.png") no-repeat scroll -30px -15px transparent;
  text-indent: -99999px;
  float: left;
}
#portfolioNextDead {
  width: 50px;
  height: 16px;
  background: url("images/next_light.png") no-repeat scroll -30px -15px transparent;
  text-indent: -99999px;
  float: left;
}
#portfolioNext a, #portfolioBack a {
  width: 100%;
  height: 100%;
  display: block;
  outline: medium none;
  cursor: pointer;
}
div.clearer {
  clear: both;
  height: 0px;
  font: 0px "Helvetica","Arial";
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}
.portfolioCaption {
  float: left;
  margin-left: 20px;
  width: 480px;
  text-align: center;
  font: 12px "Georgia";
  letter-spacing: 0px;
}
.portfolioIndexContainer {
  float: right;
  width: 50px;
  text-align: right;
  font: 1em "Georgia";
}
