
  <div class="navbar-collapse collapse">

  <ul class="nav navbar-nav navbar-right">
    <div class="nav navbar-nav">
      <li><a href= <%= about_path %> ></a></li>
      <li><a href= <%= posts_path %> ></a></li>
    </div>
    <% if current_user.present? %>
    <!-- <li>Logged in as <%= current_user.email %></li> -->
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</div><!--/.nav-collapse -->
</div><!-- container -->
</div>
